In [124]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from bokeh.plotting import figure, show, output_file
from bokeh.palettes import brewer
import bokeh

In [127]:
df = pd.read_csv('/home/andrew/Documents/ML/Cape_Town_water_levels/year_dam_data.csv', index_col='Year')
df

,Berg,Steenbras lower,Steenbras upper,theewaterskloof,voel vlei,wemmershoek
Year,,,,,,
2008,100,34,31,100,95,97
2009,100,97,100,100,94,95
2010,100,56,91,91,95,71
2011,85,65,97,80,80,72
2012,100,100,100,80,71,75
2013,78,68,78,85,68,75
2014,100,98,98,99,100,97
2015,78,75,84,63,45,60
2016,58,56,95,50,52,65
2017,42,37,80,28,29,40
2018,90,60,95,45,58,89

In [126]:
berg_river = 130010
steenbras_lower = 33517
steenbras_upper = 31767
theewaterskloof = 480188
voëlvlei = 164095
wemmershoek = 58644
dams_volume = [berg_river]
df = df.applymap(lambda x: round(x/6, 2))
df.head()

,Berg,Steenbras lower,Steenbras upper,theewaterskloof,voel vlei,wemmershoek
Year,,,,,,
2008,16.67,5.67,5.17,16.67,15.83,16.17
2009,16.67,16.17,16.67,16.67,15.67,15.83
2010,16.67,9.33,15.17,15.17,15.83,11.83
2011,14.17,10.83,16.17,13.33,13.33,12.00
2012,16.67,16.67,16.67,13.33,11.83,12.50

In [ ]:
def stacked(df):
    df_top = df.cumsum(axis=1)
    df_bottom = df_top.shift(axis=1).fillna({df.columns[0]: 0})[::-1]
    df_stack = pd.concat([df_bottom, df_top], ignore_index=True)
    return df_stack
areas = stacked(df)

In [143]:
colors = brewer['PuBu'][areas.shape[1]]
x2 = np.hstack((df.index[::-1], df.index))

p = figure(title="Cape Town water levels", x_range=(2008, 2018), y_range=(0, 100))
p.grid.minor_grid_line_color = '#eeeeee'
p.ygrid.minor_grid_line_alpha = 0.05

p.patches([x2] * areas.shape[1], [areas[c].values for c in areas],
          color=colors, alpha=0.8, line_color=None, legend='one')

p.plot_height = 400
p.plot_width = 1000

p.xaxis.axis_label = 'Year'
p.yaxis.axis_label = '% Water'
p.xaxis.minor_tick_line_color = None  # turn off x-axis minor ticks

output_file('water_vis.html', title='Cape_Town')
show(p)